<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReVue9 Basic Component</title>
    <style>
        .showInfo {
            display: flex;
            justify-content: space-around;
        }
        
        .allData {
            width: 50%;
            border: 1px dotted darkblue
        }
        
        .filterData {
            width: 40%;
        }
        .showInfo{
        text-align: left;
        }
    </style>
</head>

<body>

    <body>
        <div id="app">
            <!-- <div><input type="text" v-model="inputText" @keyup.enter="inputHandler"></div> -->
            <!-- compositionstart / compositionend 主要在處理輸入匡的Enter事件 -->
            <!-- <div>
                <input type="text" v-model="inputText" @keyup.enter="inputHandler" @compositionstart="cStartHandler" @compositionEnd="cEndHandler">
            </div> -->
            <h2>輸入資訊(Enter輸入)</h2>
            <input-component-in-out @custom-input="inputHandler_out" v-model="inputText"></input-component-in-out>
            <div class="showInfo">{{inputText}}</div>
            {{list}}
            <hr>

            <div class="showInfo">
                <div class="allData">
                    <ul>
                        <li v-for="(item,index) of list" :key="item.timestamp">
                            <!-- 資料編輯畫面 -->
                            <template v-if="editing===item || editing===index">
                                <input type="text" v-model="editText">
                                <button @click="completeHandler">Finished</button>
                                <button @click="completeHandlerItem">Finished(item)</button>
                                <button @click="cancelHandler">Cancel</button>
                            </template>
                            <!-- 資料列表畫面 -->
                            <template v-else>
                                <input type="checkbox" v-model="item.itemStatus" />
                                <label>{{item.content}}</label>
                                <button @click="editHandler(index)">Modify</button>
                                <button @click="deleteHandler(index)"> Delete</button>
                                <button @click="editHandlerItem(item)">Modify(Item)</button>
                                <button @click="deleteHandlerItem(item)"> Delete(Item)</button>
                            </template>
                        </li>
                    </ul>
                </div>

                <!-- component1 組建1  過濾資料-->
                <div class="filterData">
                    <!-- 因為網頁讀取會全部轉成小寫,所以在命名元件時要注意大小寫 -->
                    <h3>請選擇要顯示的資料</h3>
                    <filter-component @filter="filterHandler"></filter-component>
                    <!-- 原始寫法  -->
                    <!--     <div id="filterComponent">
                        <button @click="show ='all' ">All</button>
                        <button @click="show ='open' ">Open</button>
                        <button @click="show ='done' ">complete</button>
                    </div> -->
                    <hr>
                    <ul>
                        <li v-for="(item,index) of filterList" :key="item.timestamp">
                            <!-- 資料編輯畫面 -->
                            <template v-if="editing===index ">
                                <input type="text " v-model="editText ">
                                <button @click="completeHandler ">Finished</button>
                                <button @click="cancelHandler ">Cancel</button>
                            </template>
                            <!-- 資料列表畫面 -->
                            <template v-else>
                                <!-- <input type="checkbox" v-model="item.itemStatus" /> -->
                                <label>{{item.content}}</label>
                                <button @click="editHandler(index)">Modify</button>
                                <button @click="deleteHandler(index)"> Delete</button>
                                <button @click="editHandlerItem(item)">Modify(Item)</button>
                                <button @click="deleteHandlerItem(item)"> Delete(Item)</button>
                            </template>
                        </li>
                    </ul>
                </div>

            </div>

            <!-- 有網址用A , 功能用Button -->


        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js ">
        </script>

        <script>
            // 模組化元件
            Vue.component("filter-component", {
                data: function() {
                    return {
                        btnList: [{
                            text: 'All',
                            value: 'all'
                        }, {
                            text: 'Open',
                            value: 'open'
                        }, {
                            text: 'Done',
                            value: 'done'
                        }]
                    }
                },
                template: ` 
                    <div id="filterComponent">
                        <button v-for="btn of btnList":key="btn.text" :value="btn.value" @click= "$emit('filter',btn.value)">
                            {{btn.text}}
                        </button>
                    </div>
                `
            })

            // 1.外到內(input text(資料) 屬於外面，改變時打給component用)
            Vue.component("input-component-in-out", {
                props: ['value'], //外面接V-model 那這邊就要用Value
                data: function() {
                    return {
                        CompositionStatus: false,
                    }
                },
                template: `
                <div>
                <input type="text" 
                v-bind:value="value"
                v-on:input="$emit('input', $event.target.value)"
                @compositionstart="cStartHandler" @compositionEnd="cEndHandler"
                @keyup.enter="inputHandler" >
                </div>
                `,
                methods: {
                    inputHandler() {
                        console.log("status:" + this.CompositionStatus)
                        if (this.CompositionStatus) {
                            return false
                        } else {
                            this.$emit('custom-input')
                        }
                    },
                    cStartHandler() {
                        this.CompositionStatus = true
                    },
                    cEndHandler() {
                        this.CompositionStatus = false
                    },
                }
            })

            // 2.內到外(資料在裡面，改變時時打給外面使用)
            Vue.component("input-component-out-in", {

            })
            new Vue({

                el: "#app",
                data: {
                    inputText: "",
                    list: [],
                    CompositionStatus: false,
                    editing: null,
                    editText: " ",
                    show: "all "
                },
                methods: {
                    filterHandler(value) {
                        this.show = value
                        console.log(value)
                            // filterList()
                    },
                    inputHandler_out() {
                        console.log(this.inputText)
                        this.list.push({
                            content: this.inputText,
                            timeStamp: new Date().getTime(),
                            itemStatus: false,
                        })
                        console.log("a :" + this.inputText)
                        this.inputText = ""
                        console.log("B :" + this.inputText)
                    },
                    editHandler(index) {
                        this.editing = index
                        this.editText = this.list[index].content
                            // console.log("current index: " + index + "editing : " + this.editing)
                    },
                    deleteHandler(index) {
                        // index 也是可以用物件取代,(建議可以用物件比較穩)
                        // Filter: 篩選陣列後重新排列

                        this.list = this.list.filter((item, i) => {
                            return i != index
                        })

                        //splice ：根據 index 直接刪除指定的資料
                        // this.list.splice(index, 1)
                    },

                    editHandlerItem(item) {
                        // console.log("items:" + item)
                        this.editing = item
                            // console.log("this.editing:" + item.content)
                        this.editText = item.content
                            // console.log("current index: " + index + "editing : " + this.editing)
                    },
                    deleteHandlerItem(item) {
                        // index 也是可以用物件取代,(建議可以用物件比較穩)
                        // Filter: 篩選陣列後重新排列
                        // 判斷等於item則刪除

                        this.list = this.list.filter((target) => {
                            return target != item
                        })

                        //splice ：根據 index 直接刪除指定的資料
                        // this.list.splice(index, 1)
                    },
                    cancelHandler() {
                        this.editText = " "
                        this.editing = null
                    },
                    completeHandler() {
                        // console.log("editing : " + this.editing)
                        this.list[this.editing].content = this.editText
                        this.cancelHandler()
                    },
                    completeHandlerItem() {
                        // console.log("editing : " + this.editing)
                        this.editing.content = this.editText
                        this.cancelHandler()
                    },
                },
                computed: {
                    filterList() {
                        // 回傳已經完成過濾的List提供介面顯示
                        if (this.show === "all") {
                            return this.list
                        } else if (this.show === "open") {
                            //顯示已完成項目
                            return this.list.filter((item) => {
                                return item.itemStatus === false
                            })
                        } else if (this.show === "done") {
                            //顯示位完成項目
                            return this.list.filter((item) => {
                                return item.itemStatus === true
                            })
                        } else {
                            return []
                        }
                    }
                }
            })
        </script>

    </body>

</html>